<p-table [value]="holidays" [paginator]="true" [rows]="10" [resizableColumns]="true" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-holiday>
      <tr>
        <td>{{ holiday.date }}</td>
        <td>{{ holiday.title }}</td>
        <td>{{ holiday.description }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-warning custom-button rounded-button" (click)="editHoliday(holiday)"></button>
          <button pButton icon="pi pi-trash" class="p-button-danger custom-button rounded-button" (click)="deleteHoliday(holiday.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <p-dialog header="Editar Descrição" [(visible)]="isDialogVisible" [modal]="true" [closable]="true">
    <div class="p-fluid">
      <div class="p-field">
        <label for="description">Descrição</label>
        <textarea id="description" rows="5" pInputTextarea [(ngModel)]="description"></textarea>
      </div>
      <div class="p-field">
        <button pButton label="Salvar" icon="pi pi-check" class="custom-button" (click)="saveDescription()"></button>
      </div>
    </div>
  </p-dialog>
  
  <p-toast></p-toast>
  